/* css/_animations.css */
.element-flash-highlight {
    animation: flashHighlight var(--transition-duration-slow) var(--transition-timing-function);
}

@keyframes flashHighlight {
    0%, 70% {
        background-color: var(--bg-color-warning-light);
        box-shadow: 0 0 8px var(--color-warning-light);
    }
    100% {
        background-color: transparent;
        box-shadow: none;
    }
}

.sub-row .collapse,
.sub-row .collapsing {
    transition: height var(--transition-duration-base) ease-in-out;
}

.row-toggle-icon {
    transition: transform var(--transition-duration-base) ease-in-out;
}

.fade {
    transition: opacity var(--transition-duration-base) linear;
}

.fade:not(.show) {
    opacity: 0;
}
